USE [master]
GO
/****** Object:  Database [TechnoShieldBase]    Script Date: 4/20/2021 1:56:08 AM ******/
CREATE DATABASE [TechnoShieldBase]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TechnoShieldBase', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\TechnoShieldBase.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TechnoShieldBase_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\TechnoShieldBase_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 COLLATE Cyrillic_General_100_CS_AS
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TechnoShieldBase].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TechnoShieldBase]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 4/20/2021 1:56:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[OrganizationId] [int] NOT NULL,
	[DateTimeOfCreate] [datetime] NOT NULL,
	[DateTimeOfWork] [datetime] NULL,
	[StatusOfOrderId] [int] NOT NULL,
	[DateTimeOfEnd] [datetime] NULL,
 CONSTRAINT [PK_Order] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Organization]    Script Date: 4/20/2021 1:56:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Organization](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) COLLATE Cyrillic_General_100_CS_AS NOT NULL,
	[Address] [nvarchar](max) COLLATE Cyrillic_General_100_CS_AS NULL,
	[TelephoneNumber] [nvarchar](12) COLLATE Cyrillic_General_100_CS_AS NULL,
 CONSTRAINT [PK_Organization] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 4/20/2021 1:56:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](200) COLLATE Cyrillic_General_100_CS_AS NOT NULL,
	[Description] [nvarchar](max) COLLATE Cyrillic_General_100_CS_AS NULL,
	[TypeOfProductId] [int] NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[Photo] [varbinary](max) NULL,
	[TypeOfServiceId] [int] NULL,
 CONSTRAINT [PK_Product] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Purchase]    Script Date: 4/20/2021 1:56:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Purchase](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[OrderId] [int] NOT NULL,
	[ProductId] [int] NOT NULL,
	[Count] [int] NOT NULL,
 CONSTRAINT [PK_Purchase] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 4/20/2021 1:56:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) COLLATE Cyrillic_General_100_CS_AS NOT NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Service]    Script Date: 4/20/2021 1:56:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Service](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](200) COLLATE Cyrillic_General_100_CS_AS NOT NULL,
	[TypeOfServiceId] [int] NOT NULL,
	[Description] [nvarchar](max) COLLATE Cyrillic_General_100_CS_AS NULL,
	[Price] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_Service] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ServiceOfProductInOrder]    Script Date: 4/20/2021 1:56:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ServiceOfProductInOrder](
	[ServiceId] [int] NOT NULL,
	[ProductId] [int] NOT NULL,
	[Id] [int] NOT NULL,
	[OrderId] [int] NOT NULL,
	[Count] [int] NOT NULL,
 CONSTRAINT [PK_ServiceOfProductInOrder] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StatusOfOrder]    Script Date: 4/20/2021 1:56:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StatusOfOrder](
	[Id] [int] NOT NULL,
	[Name] [nvarchar](50) COLLATE Cyrillic_General_100_CS_AS NOT NULL,
 CONSTRAINT [PK_StatusOfOrder] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TypeOfProduct]    Script Date: 4/20/2021 1:56:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TypeOfProduct](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) COLLATE Cyrillic_General_100_CS_AS NOT NULL,
 CONSTRAINT [PK_TypeOfProduct] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TypeOfService]    Script Date: 4/20/2021 1:56:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TypeOfService](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) COLLATE Cyrillic_General_100_CS_AS NOT NULL,
 CONSTRAINT [PK_TypeOfService] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 4/20/2021 1:56:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Login] [nvarchar](50) COLLATE Cyrillic_General_100_CS_AS NOT NULL,
	[Password] [nvarchar](50) COLLATE Cyrillic_General_100_CS_AS NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Worker]    Script Date: 4/20/2021 1:56:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Worker](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) COLLATE Cyrillic_General_100_CS_AS NOT NULL,
	[LastName] [nvarchar](50) COLLATE Cyrillic_General_100_CS_AS NOT NULL,
	[Patronymic] [nvarchar](50) COLLATE Cyrillic_General_100_CS_AS NULL,
	[Address] [nvarchar](max) COLLATE Cyrillic_General_100_CS_AS NOT NULL,
	[TelephoneNumber] [nvarchar](13) COLLATE Cyrillic_General_100_CS_AS NULL,
	[PIPN] [nvarchar](14) COLLATE Cyrillic_General_100_CS_AS NULL,
	[Passport] [nvarchar](10) COLLATE Cyrillic_General_100_CS_AS NOT NULL,
	[UserId] [int] NULL,
	[RoleId] [int] NOT NULL,
 CONSTRAINT [PK_Worker] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WorkerOfOrder]    Script Date: 4/20/2021 1:56:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WorkerOfOrder](
	[OrderId] [int] NOT NULL,
	[WorkerId] [int] NOT NULL,
 CONSTRAINT [PK_WorkerOfOrder] PRIMARY KEY CLUSTERED 
(
	[OrderId] ASC,
	[WorkerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Product] ON 

SET IDENTITY_INSERT [dbo].[Product] OFF
SET IDENTITY_INSERT [dbo].[Role] ON 

INSERT [dbo].[Role] ([Id], [Name]) VALUES (1, N'Администратор')
SET IDENTITY_INSERT [dbo].[Role] OFF
SET IDENTITY_INSERT [dbo].[Service] ON 

INSERT [dbo].[Service] ([Id], [Name], [TypeOfServiceId], [Description], [Price]) VALUES (1, N'Проектирование систем наблюдения с учётом особенностей объекта', 2, NULL, CAST(5000.00 AS Decimal(18, 2)))
INSERT [dbo].[Service] ([Id], [Name], [TypeOfServiceId], [Description], [Price]) VALUES (2, N'Монтаж и настройка любых видеокамер', 2, NULL, CAST(1.00 AS Decimal(18, 2)))
INSERT [dbo].[Service] ([Id], [Name], [TypeOfServiceId], [Description], [Price]) VALUES (5, N'Настройка видеорегистраторов и дополнительного оборудования', 2, NULL, CAST(0.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[Service] OFF
SET IDENTITY_INSERT [dbo].[TypeOfProduct] ON 

INSERT [dbo].[TypeOfProduct] ([Id], [Name]) VALUES (1, N'GSM сигнализация для дачи и дома')
INSERT [dbo].[TypeOfProduct] ([Id], [Name]) VALUES (2, N'GSM комплекты')
INSERT [dbo].[TypeOfProduct] ([Id], [Name]) VALUES (3, N'Комплекты видеонаблюдения')
SET IDENTITY_INSERT [dbo].[TypeOfProduct] OFF
SET IDENTITY_INSERT [dbo].[TypeOfService] ON 

INSERT [dbo].[TypeOfService] ([Id], [Name]) VALUES (1, N'GSM сигнализации')
INSERT [dbo].[TypeOfService] ([Id], [Name]) VALUES (2, N'Видеонаблюдение')
SET IDENTITY_INSERT [dbo].[TypeOfService] OFF
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([Id], [Login], [Password]) VALUES (1, N'a', N'a')
SET IDENTITY_INSERT [dbo].[User] OFF
SET IDENTITY_INSERT [dbo].[Worker] ON 

INSERT [dbo].[Worker] ([Id], [Name], [LastName], [Patronymic], [Address], [TelephoneNumber], [PIPN], [Passport], [UserId], [RoleId]) VALUES (2, N'1', N'1', N'1', N'1', N'1', N'1', N'1', 1, 1)
SET IDENTITY_INSERT [dbo].[Worker] OFF
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_Organization] FOREIGN KEY([OrganizationId])
REFERENCES [dbo].[Organization] ([Id])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_Organization]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_StatusOfOrder] FOREIGN KEY([StatusOfOrderId])
REFERENCES [dbo].[StatusOfOrder] ([Id])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_StatusOfOrder]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_TypeOfProduct] FOREIGN KEY([TypeOfProductId])
REFERENCES [dbo].[TypeOfProduct] ([Id])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_TypeOfProduct]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_TypeOfService] FOREIGN KEY([TypeOfServiceId])
REFERENCES [dbo].[TypeOfService] ([Id])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_TypeOfService]
GO
ALTER TABLE [dbo].[Purchase]  WITH CHECK ADD  CONSTRAINT [FK_Purchase_Order] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Order] ([Id])
GO
ALTER TABLE [dbo].[Purchase] CHECK CONSTRAINT [FK_Purchase_Order]
GO
ALTER TABLE [dbo].[Purchase]  WITH CHECK ADD  CONSTRAINT [FK_Purchase_Product] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Product] ([Id])
GO
ALTER TABLE [dbo].[Purchase] CHECK CONSTRAINT [FK_Purchase_Product]
GO
ALTER TABLE [dbo].[Service]  WITH CHECK ADD  CONSTRAINT [FK_Service_TypeOfService] FOREIGN KEY([TypeOfServiceId])
REFERENCES [dbo].[TypeOfService] ([Id])
GO
ALTER TABLE [dbo].[Service] CHECK CONSTRAINT [FK_Service_TypeOfService]
GO
ALTER TABLE [dbo].[ServiceOfProductInOrder]  WITH CHECK ADD  CONSTRAINT [FK_ServiceOfProductInOrder_Order] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Order] ([Id])
GO
ALTER TABLE [dbo].[ServiceOfProductInOrder] CHECK CONSTRAINT [FK_ServiceOfProductInOrder_Order]
GO
ALTER TABLE [dbo].[ServiceOfProductInOrder]  WITH CHECK ADD  CONSTRAINT [FK_ServiceOfProductInOrder_Product] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Product] ([Id])
GO
ALTER TABLE [dbo].[ServiceOfProductInOrder] CHECK CONSTRAINT [FK_ServiceOfProductInOrder_Product]
GO
ALTER TABLE [dbo].[ServiceOfProductInOrder]  WITH CHECK ADD  CONSTRAINT [FK_ServiceOfProductInOrder_Service] FOREIGN KEY([ServiceId])
REFERENCES [dbo].[Service] ([Id])
GO
ALTER TABLE [dbo].[ServiceOfProductInOrder] CHECK CONSTRAINT [FK_ServiceOfProductInOrder_Service]
GO
ALTER TABLE [dbo].[Worker]  WITH CHECK ADD  CONSTRAINT [FK_Worker_Role] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Role] ([Id])
GO
ALTER TABLE [dbo].[Worker] CHECK CONSTRAINT [FK_Worker_Role]
GO
ALTER TABLE [dbo].[Worker]  WITH CHECK ADD  CONSTRAINT [FK_Worker_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[Worker] CHECK CONSTRAINT [FK_Worker_User]
GO
ALTER TABLE [dbo].[WorkerOfOrder]  WITH CHECK ADD  CONSTRAINT [FK_WorkerOfOrder_Order] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Order] ([Id])
GO
ALTER TABLE [dbo].[WorkerOfOrder] CHECK CONSTRAINT [FK_WorkerOfOrder_Order]
GO
ALTER TABLE [dbo].[WorkerOfOrder]  WITH CHECK ADD  CONSTRAINT [FK_WorkerOfOrder_Worker] FOREIGN KEY([WorkerId])
REFERENCES [dbo].[Worker] ([Id])
GO
ALTER TABLE [dbo].[WorkerOfOrder] CHECK CONSTRAINT [FK_WorkerOfOrder_Worker]
GO
USE [master]
GO
